<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevGameForge — In Progress</title>
    <link rel="icon" type="image/png" href="/favicon/favicon.ico">
    <link rel="stylesheet" href="/components/logo/logo.css">
    <link rel="stylesheet" href="../css/in-progress.css">
</head>

<body>

    <a class="logo-btn" href="/index.html"><img src="/img/DevGameForgeLogo-no-text.png" alt="logo DevGameForge"></a>

    <div class="container">
        <h1>Fonctionnalité Future</h1>

        <div class="status-box">
            <p>Bienvenue dans un espace qui sera bientôt le cœur d'une nouvelle expérience DevGameForge.</p>
            <p>Nous sommes en train de forger cette section pour vous. Revenez nous voir bientôt !</p>
        </div>
    </div>

</body>

</html>