:root {
    --color-noir-profond: #0e0e0e; /* Fond global */
    --color-graphite-fonce: #1a1a1a; /* Cartes, boutons, sections UI */
    --color-vert-emeraude: #79e68a; /* Titres, textes importants, hover */
    --color-vert-emeraude-transparent: #79e68a60; /* Bordures légères */
    --color-gris-clair: #e0e0e0; /* Texte principal */
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-noir-profond);
    color: var(--color-gris-clair);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: center; /* Alignement : center pour le container/landing */
}

.logo-btn{
   position: fixed;
   top: 15px; 
   left: 15px;
   z-index: 1000;
   line-height: 0;
   border: 2px solid transparent;
   border-radius: 8px;
   transition: border-color 0.2s;
}

.logo-btn img {
    /* Définition de la taille de l'image à 64x64 */
    width: 64px;
    height: 64px;
    display: block;
}

.logo-btn:hover {
    /* Interaction légère au survol */
    border-color: var(--color-vert-emeraude);
}

.container {
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
}

h1 {
    font-size: 2.8rem;
    margin-bottom: 40px;
    color: #79e68a;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu {
    display: flex;
    flex-direction: column;
}

.footer-note {
    /* Style pour la note de pied de page */
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: var(--color-vert-emeraude-transparent);
}