.logo-btn{
   position: fixed;
   top: 15px; 
   left: 15px;
   z-index: 1000;
   line-height: 0;
   border: 2px solid transparent;
   border-radius: 8px;
   transition: border-color 0.2s;
}

.logo-btn img {
    /* Définition de la taille de l'image à 64x64 */
    width: 64px;
    height: 64px;
    display: block;
}

.logo-btn:hover {
    /* Interaction légère au survol */
    border-color: var(--color-vert-emeraude);
}