.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.alert.hidden {
    display: none;
}

.alert-box {
    background: #1a1a1a;
    border: 2px solid rgba(121, 230, 138, 0.38);
    padding: 25px 35px;
    border-radius: 10px;
    width: 90%;
    /* Largeur relative */
    max-width: 400px;
    /* Limite maximale pour grands écrans */
    min-width: 250px;
    /* Limite minimale pour petits écrans */
    text-align: center;
    color: #e0e0e0;
    box-shadow: 0 0 25px #000a;
    word-wrap: break-word;
    /* Coupe les mots trop longs */
}

.alert-box p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    word-break: break-word;
    /* Garantit que le texte ne dépasse pas */
}

.alert-box button {
    padding: 10px 18px;
    background: #79e68a;
    border: none;
    border-radius: 6px;
    color: #0e0e0e;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

.alert-box button:hover {
    background: #79e68a60;
    color: #e0e0e0;
}